.blog-single-section .entry-title-meta {
  margin-bottom: 25px;
}
.blog-single-section .entry-title-meta h3 {
	font-size: 22px;
	font-size: 1.46667rem;
	line-height: 1.4em;
	margin: 0 0 0.45em;
	font-weight:600;
	text-transform: capitalize;
    
}
.blog-single-section .entry-media {
	margin-bottom: 30px;
}
.blog-single-section .entry-body p {
	line-height: 1.81em;
	color: #86909e;
	 
	font-size: 15px;
}
.blog-single-section .paga-with-blockquote {
	overflow: hidden;
}
.blog-single-section .paga-with-blockquote p {
	width: 60%;
	float: left;
}
.blog-single-section .paga-with-blockquote blockquote {
	width: 40%;
    font-size: 22px;
    font-style: italic;
    margin: 3px 0px 0px 0px;
    float: right;
    border: 0;
    line-height: 1.5em;
    padding: 0px 25px;
    color: #324ece;
}
.blog-single-section .tag-share {
	text-align: center;
	overflow: hidden;
	margin: 40px 0 68px;
	position: relative;
 
}
.blog-single-section .tag-share:after {
	content: "";
	background-color: #e7e7e7;
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	top: 40%;
}
.blog-single-section .tag-share ul {
	list-style: none;
}
.blog-single-section .tag-share ul {
    display: inline-block;
    overflow: hidden;
    position: relative;
    right: -13px;
    top: -7px;
}
.blog-single-section .tag-share ul li {
	float: left;
	margin-right: 6px;
}
.blog-single-section .tag-share ul li:last-child {
	margin-right: 0;
}
.blog-single-section .tag-share > div {
	background-color: #fff;
	width: 150px;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}
.blog-single-section .tag-share > div:last-child span {
	font-size: 15px;
	font-size: 0.93333rem;
	font-weight: 600;
	color: #999;
	position: relative;
	top: 18px;
	left: -35px;
	padding-right: 0px;
}
.blog-single-section .tag-share .share {
	padding-bottom: 0;
}
.blog-single-section .tag-share .share a {
	font-size: 16px;
    font-size: 1.06667rem;
    color: #585858;
    display: inline-block;
    padding: 2px 4px
}
.blog-single-section .tag-share .share a:hover {
	color: #324ece;
}

.blog-single-section .related-posts {
	margin-bottom: 50px;
}
.blog-single-section .related-posts h4 {
	font-size: 24px;
	font-size: 1.6rem;
	
	margin: 0 0 1.2em;
	font-weight:600;
}
.blog-single-section .related-posts .entry-meta {
	padding: 12px 0 10px;
	border-bottom: 1px solid #e1e2e3;
}
.blog-single-section .related-posts .entry-meta ul {
	overflow: hidden;
}

.blog-single-section .related-posts .entry-meta li {
	float: left;
}
.blog-single-section .related-posts .entry-meta ul > li + li {
	margin-left: 20px;
}
.blog-single-section .related-posts .entry-meta a {
	font-size: 14px;
	font-size: 0.93333rem;
	color: #999ea5;
}
.blog-single-section .related-posts .entry-meta a:hover {
	color: #09a223;
}
.blog-single-section .related-posts .entry-body {
  padding-top: 15px;
}
.blog-single-section .related-posts .entry-body h3 {
	font-size: 18px;
	font-size: 1.2rem;
	line-height: 1.4em;
	margin: 0 0 0.8em;
}
.blog-single-section .related-posts .entry-body h3 a {
	color: #1e2331;
}
.blog-single-section .related-posts .entry-body h3 a:hover {
	color: #09a223;
}
.blog-single-section .about-author {
	margin-bottom: 50px;
}
.blog-single-section .about-author h4 {
	font-size: 24px;
	font-size: 1.6rem;
	margin: 0 0 0.83em;
	font-weight:600;
	
}
.related-posts .new-blog-builder .grid-content h4 a:hover{
	color:#324cec;
}
.blog-single-section .about-author .inner {
	background-color: #f8f8fa;
	padding: 33px 50px;
	border: 1px solid #e6e9ec;
	overflow: hidden;
}
.blog-single-section .about-author .author-pic {
	width: 73px;
	float: left;
}
.blog-single-section .about-author .author-details {
	width: calc(100% - 73px);
	float: left;
	padding-left: 25px;
}
.blog-single-section .about-author .author-details h5 {
	font-size: 16px;
	font-size: 1.06667rem;
	font-weight:600;
	margin: 0;
}
.blog-single-section .about-author .author-job {
	font-size: 14px;
	font-size: 0.93333rem;
	color: #999;
	display: inline-block;
	margin-bottom: 8px;
}
.blog-single-section .about-author p {
	font-size: 14px;
	font-size: 0.93333rem;
	color: #666;
}
.blog-single-section .about-author .social {
	list-style: none;
}
.blog-single-section .about-author .social li {
	float: left;
	margin-left: 10px;
}
.blog-single-section .about-author .social li:first-child {
	margin-left: 0;
}
.blog-single-section .about-author .social li a {
	font-size: 15px;
	font-size: 1rem;
	color: #1e2331;
}
.blog-single-section .about-author .social li a:hover {
	color: #324cec;
}
 
.blog-single-section .ppt-comments h3 {
	font-size: 18px;
	font-size: 1.2rem;
	margin: 0 0 1em;
}
.blog-single-section .ppt-comments > ol {
	padding-left: 0;
}
.blog-single-section .ppt-comments ol {
	list-style: none;
}
.blog-single-section .ppt-comments ol > li {
	margin-bottom: 35px;
}
.blog-single-section .ppt-comments ol > li:last-child {
	margin-bottom: 0;
}
.blog-single-section .ppt-comments ol > li > ol {
	margin-left: 28px;
	margin-top: 35px;
	padding: 0;
}
.blog-single-section .ppt-comments ol > li > ol > li {
	background-color: #fafafa;
	margin-bottom: 35px !important;
}
.blog-single-section .ppt-comments ol > li > ol > li:last-child {
	margin-bottom: 0 !important;
}
.blog-single-section .ppt-comments .article {
	overflow: hidden;
	border: 1px solid #d3d7d9;
	padding: 25px;
	position: relative;
}
.blog-single-section .ppt-comments .article h4 {
	font-size: 16px;
	font-size: 1.06667rem;
	margin: 0;
	text-transform: capitalize;
}
.blog-single-section .ppt-comments .article p {
	font-size: 15px;
	font-size: 1rem;
	margin-bottom: 5px;
}
.blog-single-section .ppt-comments .article .replay button {
	background-color: transparent;
	font-size: 14px;
	font-size: 0.93333rem;
	font-weight: 600;
	color: #324ece;
	padding: 0;
	border: 0;
	outline: 0;
	position: absolute;
	right: 25px;
	top: 25px;
}
.blog-single-section .ppt-comments .article .replay button:hover {
	color: #3f03a0;
}
.blog-single-section .ppt-comments .article .author-meta {
	overflow: hidden;
	margin-bottom: 5px;
}
.blog-single-section .ppt-comments .article .author-meta h4 {
	font-size: 15px;
	color:#000;
	font-weight:500;
}
.blog-single-section .ppt-comments .article .author-meta > div:last-child {
	font-size: 12px;
	font-size: 0.8rem;
	color: #a3aab2;
}
.blog-single-section .ppt-comments .article .author-pic {
	width: 10%;
	float: left;
}
.blog-single-section .ppt-comments .article .details {
	width: 90%;
	float: left;
    padding-left: 16px;
}
.blog-single-section .ppt-comments .article p {
	font-size: 14px;
	color: #4a4a4a;
	line-height:22px;
}
 
.blog-single-section .comment-respond h4 {
	font-size: 24px;
	font-size: 1.6rem;
	margin: 0 0 1.2em;
	font-weight:600;
	
}
.blog-single-section .comment-respond form {
	margin: 0 -15px;
	position: relative;
}
.blog-single-section .comment-respond form input,
.blog-single-section .comment-respond form textarea {
	background-color: #f8f8fa;
	height: 40px;
	border: 1px solid #e6e9ec;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	font-size: 14px;
}
.blog-single-section .comment-respond form textarea {
	height: 195px;
}
.blog-single-section .comment-respond form > div {
	margin-bottom: 20px;
	float: left;
}
 
 
 
.sidebar-blog .search-widget input, .sidebar-blog .news-letter-widget input{
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 6px 80px 6px 15px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sidebar-blog .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.sidebar-blog .search-widget button{
    background-color: #324ece;
    width: 50px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border: 0;
	position:absolute;
    outline: 0;
    right: 0;
    top: 0;
}
.sidebar-blog .search-widget{
	position:relative;
}
.sidebar-blog > .widget + .widget {
    margin-top: 40px;
}
.sidebar-blog .widget > h3 {
    font-size: 20px;
    margin: 0 0 1.3em;
    position: relative;
	font-weight:600;
    text-transform: uppercase;
 
}
.sidebar-blog .recent-post-widget .post {
    overflow: hidden;
}
.sidebar-blog .recent-post-widget .entry-media {
    width: 75px;
    float: left;
    margin-bottom: 20px;
}
.sidebar-blog .recent-post-widget .entry-details {
    width: calc(100% - 75px);
    float: left;
    padding-left: 15px;
}
.sidebar-blog .recent-post-widget > .post + .post {
    padding-top: 20px;
    border-top: 1px solid #e8e8e8;
}
.sidebar-blog .recent-post-widget .entry-details h4 {
    font-size: 15px;
    font-weight: 600;
 
    line-height: 1.4em;
    margin: 0 0 0.3em;
}
.sidebar-blog .recent-post-widget .entry-details h4 a {
    color: #1e2331;
}
.sidebar-blog .recent-post-widget .entry-details h4:hover a {
    color: #324cec;
}
.sidebar-blog .recent-post-widget .date {
    font-size: 13px;
    color: #bebfc0;
}
.blog-single-section .blog-details-content {
    padding-right: 50px;
}
 
.sidebar-blog .categories-widget ul a {
    display: block;
    color: #86909e;
    padding: 9px 0;
    font-size: 15px;
    position: relative;
}
.sidebar-blog .categories-widget ul a:hover {
	color:#324cec;
}
.sidebar-blog .categories-widget ul a span {
    position: absolute;
    right: 0;
    font-size: 15px;	
}
.sidebar-blog .categories-widget ul a span:before {
    content: "(";
    position: relative;
    top: 1px;
}
.sidebar-blog .categories-widget ul a span:after {
    content: ")";
    position: relative;
    top: 1px;
}
.blog-single-section .entry-meta {
    list-style: none;
    overflow: hidden;
    border: 0;
    padding: 0 0 25px;
    border-bottom: 1px solid #e5e5e5;
}

.blog-single-section .entry-meta > li + li {
    margin-left: 25px;
}
.blog-single-section .entry-meta li {
    font-size: 14px;
    font-size: 0.93333rem;
    float: left;
}
.blog-single-section .entry-meta li a {
    color: #999999;
    font-size: 14px;
}

.sidebar-blog .recent-ppt-comments ul li {
    border-bottom: 1px solid #eff1f3;
    padding-bottom: 10px;
    color: #6a6a6a;
    line-height: 1.6em;
}
.sidebar-blog .recent-ppt-comments .post-by {
    color: #3f4e65;
    font-weight: 500;
	font-size:14px;
}
.sidebar-blog .recent-ppt-comments .post-by:hover {
    color: #324cec;
}
.sidebar-blog .recent-ppt-comments a {
    color: #3f4e65;
    font-weight: 500;
	font-size:14px;
}
.sidebar-blog .recent-ppt-comments a:hover {
    color: #324cec;
}
.sidebar-blog .news-letter-widget input {
    background-color: #f8f8fa;
    -webkit-box-shadow: none;
    box-shadow: none;
	font-size: 14px;
}
.sidebar-blog .news-letter-widget{
	position:relative;
}
.sidebar-blog .news-letter-widget button {
    background-color: #324cec;
    width: 50px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border: 0;
	position:absolute;
    outline: 0;
    right: 0;
    top: 53px;
}


.sidebar-blog .instagram-wiget ul {
    overflow: hidden;
    margin: 0 -7.5px;
}
.sidebar-blog .instagram-wiget ul li {
    width: calc(33.33% - 15px);
    float: left;
    margin: 0 7.5px 15px;
}


.blog-img-1{
	width:85%;
	margin-left: 40px;
	position:relative;
	overflow:hidden;
}
.blog-img-1 img{
	border-radius:5px;
	cursor:pointer;
}
.blog-img-1::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.new-post-blog:hover .blog-img-1::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
.new-post-blog{
    border:1px solid #ddd;
	border-radius:5px;
	padding:40px 0px;
}
.bp-padd{
	padding-right:10px;
}
.grid-content span {
    
	font-size: 14px;
	color: #000000;
}
.grid-content span a{
    
	font-size: 14px;
	color: #000000;
}
.grid-content h2 {
    margin: 15px 0px 15px 0px;
    
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.3em;
}
.grid-content p {
    color: #000;
    margin: 0px 0px 21px 0px;
    
    font-weight: 400;
	line-height:25px;
	font-size:14px;
}
 
.grid-content{
	 
	padding:0px 24px 0px 0px;
}
@media (max-width: 1200px) and (min-width: 992px){
.grid-content span a {
    font-size: 12px;
}
}