 
	
	
	
	
	
	
 
.back-to-top {
    font-size: 24px;
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    color: #4DE2C1;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 999999999999;
    border-radius: 50%;
    background: #13171d;
}

.back-to-top:hover {
    background: #32AD79;
}

.back-to-top i {
    color: #fff;
}


/*Proloader START CSS*/

.proloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
}

.loader_34 {
    /* Preloader */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.loader_34 .ytp-spinner {
    /* Spinner Container */
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
}

.loader_34 .ytp-spinner .ytp-spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}

.loader_34 .ytp-spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.loader_34 .ytp-spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.loader_34 .ytp-spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.loader_34 .ytp-spinner-left {
    /* Position inside Container*/
    right: 50%;
}

.loader_34 .ytp-spinner-right {
    /* Position inside Container*/
    left: 50%;
}

.loader_34 .ytp-spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #32AD79 #32AD79 transparent;
    border-radius: 50%;
    border-width: 6px;
}

.loader_34 .ytp-spinner-left .ytp-spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: transparent;
    -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.loader_34 .ytp-spinner-right .ytp-spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: transparent;
    -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}


/* Preloader Animations */

@-webkit-keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes ytp-spinner-linspin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
    }

    to {
        -webkit-transform: rotate(1080deg);
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        transform: rotate(135deg);
    }

    25% {
        transform: rotate(270deg);
    }

    37.5% {
        transform: rotate(405deg);
    }

    50% {
        transform: rotate(540deg);
    }

    62.5% {
        transform: rotate(675deg);
    }

    75% {
        transform: rotate(810deg);
    }

    87.5% {
        transform: rotate(945deg);
    }

    to {
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
    }

    to {
        -webkit-transform: rotate(130deg);
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        transform: rotate(130deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(130deg);
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
    }

    to {
        -webkit-transform: rotate(-130deg);
    }
}

@keyframes ytp-right-spin {
    0% {
        transform: rotate(-130deg);
    }

    50% {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-130deg);
    }
}

.bg-f {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.btn.v1 {
    color: #fff;
    background: #0076FF;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 12px 55px 10px;
    font-weight: 500;
    transition: 0.3s;
}

.btn.v1:hover {
    color: #0076FF !important;
    background: #fff;
    border: 1px solid #0076FF;
}

.btn.v2 {
    color: #0076FF;
    background: transparent;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #0076FF;
    border-radius: 3px;
    padding: 12px 55px 10px;
    font-weight: 500;
    transition: 0.3s;
}

.btn.v2:hover {
    color: #fff !important;
    background: #0076FF;
    border: 1px solid transparent;
}

.btn.v3 {
    color: #fff;
    background: #0076FF;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 12px 55px 10px;
    font-weight: 500;
    transition: 0.3s;
    display: block;
    width: 100%;
}

.btn.v3:hover {
    color: #0076FF !important;
    background: #fff;
    border: 1px solid #0076FF;
}

.btn.v4 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 18px;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 15px 55px;
    font-weight: 500;
    display: inline-table;
    transition: 0.3s;
}

.btn.v4:hover {
    color: #32AD79;
    background: #fff;
    border: 2px solid transparent;
}


/*---------------------------------------
    General CSS for all Hero sections
------------------------------------------*/
#hero_1,
#hero_2,
#hero_6,
#hero_15,
#hero_17,
#hero_18 {
    position: relative;
}

.hero_content h1 {
    font-size: 72px;
    line-height: 80px;
    font-weight: 400;
    margin-bottom: 15px;
}

.hero_content p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
}

.video_play-btn {
    background: #0076FF;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.video_play-btn a i {
    color: #fff;
    margin-left: 3px;
}

.arrow-next {
    position: absolute;

}

.arrow-next i {
    color: #0076FF;
    font-size: 20px;
}

/*--------------------------------
            Hero One CSS
---------------------------------*/


.hero_area.v1 .hero_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero_area.v1 .hero_content {
    background: #fff;
    padding: 50px 45px;
    border-radius: 5px
}


.arrow-next.v1 {
    bottom: 30px;
    left: 9%;
    transform: translateX(-50%);
}

/*--------------------------------
            Hero Two CSS
---------------------------------*/
.hero_area.v2 .hero_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: #fff;
}

.hero_area.v2 .hero_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero_area.v2 .video_play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}

.hero_area.v2 .video_play-btn a i {
    line-height: 59px;
}

.arrow-next.v2 {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

/*--------------------------------
            Hero Three CSS
---------------------------------*/
.hero-image {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero_area.v3 .hero_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_area.v3 .video_play-btn {
    width: 80px;
    height: 80px;
}

.hero_area.v3 .video_play-btn a i {
    line-height: 80px;
    font-size: 20px;
}

.hero_area.v3 .hero_play_btn {
    display: flex;
    align-items: center;
}

.hero_area.v3 .hero_content .hero_play_btn span {
    margin-bottom: 0;
    font-size: 16px;
    margin-left: 20px;
}

/*--------------------------------
            Hero Four CSS
---------------------------------*/
.hero_area.v4 .hero_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 210px);
}

/*--------------------------------
            Hero Five CSS
---------------------------------*/
.hero_area.v5 .hero_content {
    position: absolute;
    top: 50%;
    left: calc(100% - 200px);
    transform: translate(-50%, -50%);
    width: 100%;
}

.hero_area.v5 .hero_play_btn {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}

.hero_area.v5 .video_play-btn {
    width: 80px;
    height: 80px;

}

.hero_area.v5 .video_play-btn a i {
    line-height: 80px;
    font-size: 20px;
}

.hero_play_btn span {
    display: block;
    margin-top: 15px;
}

/*--------------------------------
            Hero Six CSS
---------------------------------*/
.hero_area.v6 {
    height: 100vh;
}

.hero_area.v6:before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 940px;
    transform: translateX(-50%);
    height: 100%;
    content: "";
    background: #EEEEEE;

}

.hero_area.v6:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 60%;
    content: "";
    background: #DEDEDE;

}

.hero_area.v6 .hero_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #fff;
}

.hero_area.v6 .hero_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero_area.v6 .hero_content p,
.hero_area.v6 .hero_content a.btn.v1 {
    margin-left: 200px;
}




/*--------------------------------
            Hero Seven CSS
---------------------------------*/
.hero_area.v7 .hero_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero_area.v7 .hero_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#hero_slider_1 .carousel-indicators li {
    width: 7px;
    height: 7px;
    background-color: #9B9B9B;
    border: 6px solid transparent;
    border-bottom: 6px solid transparent;
    opacity: 1;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: 0.3s;
}

#hero_slider_1 .carousel-indicators li.active {
    border: 6px solid #0076FF;
    border-bottom: 6px solid #0076FF;
    background-color: #EEEEEE;

}

#hero_slider_1 .carousel-indicators {
    bottom: auto;
    left: auto;
    top: 55%;
    transform: translateY(-50%);
    flex-direction: column;
    margin: auto !important;
}

/*--------------------------------
            Hero Eight CSS
---------------------------------*/

.hero_area.v8 .hero_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_area.v8 .video_play-btn {
    width: 80px;
    height: 80px;
}

.hero_area.v8 .video_play-btn a i {
    line-height: 80px;
    font-size: 20px;
}

.hero_area.v8 .hero_play_btn {
    display: flex;
    align-items: center;
}

.hero_area.v8 .hero_content span {
    margin-bottom: 0;
    font-size: 16px;
    margin-left: 20px;
}

/*--------------------------------
            Hero Nien CSS
---------------------------------*/
.hero_area.v9 {
    position: relative;
}

.hero_area.v9 .hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


.hero_portfolio {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

#hero_slider_2 .carousel-indicators {
    bottom: 19%;
    justify-content: flex-start;
    margin-right: 0;
    margin-left: 0;
    transform: translateY(-50%);
}

#hero_slider_2 .carousel-indicators li {
    width: 30px;
    height: 30px;
    margin: 0 8px 0 0 !important;
    background-color: #333;
    background-clip: padding-box;
    border: none;
    opacity: 1;
    border-radius: 50%;
}

/*--------------------------------
            Hero Ten CSS
---------------------------------*/


.hero_area.v10 .hero_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
}

.hero_area.v10 .hero_content_wrap:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: #DEDEDE;
    width: 38%;
    height: 100%;
}

.hero_area.v10 .hero_content_wrap:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background-color: #EEEEEE;
    width: 72%;
    height: 100%;
    z-index: -1;
    /*background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/hero_1.png);*/
}

.hero_area.v10 .hero_content {
    background: #fff;
    padding: 50px 45px;
    border-radius: 5px
}


/*--------------------------------
            Hero Eleven CSS
---------------------------------*/
.hero_area.v11 .hero_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: #fff;
}

.hero_area.v11 .hero_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero_area.v11 .hero_content span {
    font-size: 16px;
    line-height: 24px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 20px;
}

/*--------------------------------
            Hero 12 CSS
---------------------------------*/
.hero_area.v12 .hero_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: #fff;
}

.hero_area.v12 .hero_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero_area.v12 .hero_content span {
    font-size: 16px;
    line-height: 24px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 20px;
}

.promo_btn {
    margin-top: 10px;
}

.promo_btn .promo_item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.promo_img {
    min-width: 70px;
    height: 70px;
    background: #DEDEDE;
    text-align: center;
    border-radius: 5px;
    display: block;
}

.promo_img img {
    position: relative;
    top: 12px;
}

.promo_text {
    margin-left: 25px;
}

.promo_text h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 5px;
}

.promo_text p {

    color: #999;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}


/*--------------------------------
            Hero 13 CSS
---------------------------------*/

.hero_area.v13 .hero_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #fff;
}

.hero_area.v13 .hero_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero_area.v13 .hero_content h1 {
    margin-left: -160px;
}

.hero_img {
    text-align: center;
}

.hero_img img {
    max-width: 77%;
}

#hero_slider_3 .carousel-indicators {
    bottom: auto;
    right: auto;
    top: 55%;
    transform: translateY(-50%);
    flex-direction: column;
    margin: auto !important;
}

#hero_slider_3 .carousel-indicators li {
    width: 7px;
    height: 7px;
    background-color: #9B9B9B;
    border: 6px solid transparent;
    border-bottom: 6px solid transparent;
    opacity: 1;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: 0.3s;
}

#hero_slider_3 .carousel-indicators li.active {
    border: 6px solid #0076FF;
    border-bottom: 6px solid #0076FF;
    background-color: #EEEEEE;

}

/*--------------------------------
            Hero 14 CSS
---------------------------------*/

#hero_slider_4 .carousel-indicators li {
    width: 7px;
    height: 7px;
    background-color: #9B9B9B;
    border: 6px solid transparent;
    border-bottom: 6px solid transparent;
    opacity: 1;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: 0.3s;
}

#hero_slider_4 .carousel-indicators li.active {
    border: 6px solid #0076FF;
    border-bottom: 6px solid #0076FF;
    background-color: #EEEEEE;

}

#hero_slider_4 .carousel-indicators {
    bottom: 40px;
    right: auto;
    left: 0;
    margin: auto !important;
}


/*--------------------------------
            Hero 15 CSS
---------------------------------*/
.hero_area.v15 .hero_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero_area.v15 .hero_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero_form_wrap {
    text-align: center;
    margin: 65px;
}

.hero_form {
    background: #fff;
    padding: 30px 45px;
    border-radius: 5px;
}

.hero_form h4 {
    font-size: 24px;
    text-align: left;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 15px;
}

.hero_form .form-group input {
    width: 100%;
    height: 48px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    padding: 0 15px;
}

.hero_form .form-group input::placeholder {
    color: #999;
    opacity: 1;
}

.hero_form p {
    text-align: left;
    color: #999;
    margin: 5px 0 0;
}

/*--------------------------------
            Hero 16 CSS
---------------------------------*/
.hero_area.v16 .hero_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


#hero_slider_5 .carousel-indicators li {
    width: 7px;
    height: 7px;
    background-color: #9B9B9B;
    border: 6px solid transparent;
    border-bottom: 6px solid transparent;
    opacity: 1;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: 0.3s;
}

#hero_slider_5 .carousel-indicators li.active {
    border: 6px solid #0076FF;
    border-bottom: 6px solid #0076FF;
    background-color: #EEEEEE;

}

/*#hero_slider_5 .carousel-indicators {
    bottom: auto;
    left: auto;
    top: 55%;
    transform: translateY(-50%);
    flex-direction: column;
    margin: auto !important;
}*/

/*--------------------------------
            Hero 17 CSS
---------------------------------*/
.hero_area.v17 .hero_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero_area.v17 .hero_content p {

    padding: 0 90px;

}
/*--------------------------------
            Hero 18 CSS
---------------------------------*/
.hero_area.v18 .hero_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero_area.v18 .hero_content p {

    padding: 0 80px;

}
.hero_area.v18 .hero_form_wrap {

    margin: 25px;

}
.hero_area.v18  .hero_form {

    padding: 30px 30px;

}
.hero_area.v18 .btn.v3 {
    padding: 12px 0 11px;
}

.hero_area.v18 .form-group {

    margin-bottom: 0;

}

/* LG Device :992px. */


@media only screen and (min-width: 1920px) {

    .hero_area.v3 .hero_content,
    .hero_area.v8 .hero_content {
        width: 52%;
        left: 67%;
    }

    #hero_slider_1 .carousel-indicators {
        right: 20%;

    }

    #hero_slider_2 .carousel-indicators {
        bottom: 29%;
    }

    #hero_slider_3 .carousel-indicators {
        left: 20%;

    }

    #hero_slider_4 .carousel-indicators {
        left: 20.5%;

    }


}

@media only screen and (min-width: 1600px) and (max-width:1919px) {

    .hero_area.v3 .hero_content,
    .hero_area.v8 .hero_content {
        width: 63%;
        left: 64%;
    }


    #hero_slider_1 .carousel-indicators {
        right: 15%;

    }

    #hero_slider_2 .carousel-indicators {
        bottom: 26%;
    }

    #hero_slider_3 .carousel-indicators {
        left: 15%;

    }

    #hero_slider_4 .carousel-indicators {
        left: 16%;

    }


}

@media only screen and (min-width: 1440px) and (max-width:1599px) {

    .hero_area.v3 .hero_content,
    .hero_area.v8 .hero_content {
        width: 65%;
        left: 57%;
    }

    #hero_slider_1 .carousel-indicators {
        right: 12%;

    }

    #hero_slider_2 .carousel-indicators {
        bottom: 23%;
    }

    #hero_slider_3 .carousel-indicators {
        left: 12%;

    }

    #hero_slider_4 .carousel-indicators {
        left: 12%;

    }


}

@media only screen and (min-width: 1200px) and (max-width:1400px) {

    .hero_area.v3 .hero_content,
    .hero_area.v8 .hero_content {
        width: 69%;
    }

    #hero_slider_1 .carousel-indicators {
        right: 8%;

    }

    #hero_slider_3 .carousel-indicators {
        left: 8%;

    }

    #hero_slider_4 .carousel-indicators {
        left: 8%;

    }


}



/* MD Device :768px. */

@media (min-width: 992px) and (max-width: 1199px) {

    .hero_area.v3 .hero_content,
    .hero_area.v8 .hero_content {
        width: 100%;
        left: 55%;
    }

    .hero_area.v3 .hero-image,
    .hero_area.v8 .hero-image {
        height: 80vh;
    }

    .hero_area.v4 .hero_content {
        width: calc(100% - 100px);
    }

    .hero_area.v4 .hero-image {
        height: 80vh;
    }

    .hero_area.v5 .hero-image {
        height: 57vh;
    }

    .hero_area.v6:before {
        width: 730px;
    }

    .hero_area.v6::after {
        height: 40%;
    }

    .hero_area.v6 .hero_content p,
    .hero_area.v6 .hero_content a.btn.v1 {

        margin-left: 180px;

    }

    #hero_slider_1 .carousel-indicators {
        right: 3%;

    }

    #hero_slider_3 .carousel-indicators {
        left: 3%;

    }

    #hero_slider_4 .carousel-indicators {
        left: 3%;

    }

    .hero_area.v9 .hero_content {
        height: 75vh;
    }

    .hero_content h1 {
        font-size: 60px;
    }

    #hero_slider_2 .carousel-indicators {
        bottom: 18%;
    }

    .hero_form_wrap {

        margin: 35px;

    }
}


/* Extra small Device. */

@media only screen and (max-width: 991px) {
    .hero_form_wrap {

        margin: 0px;

    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero_area.v1 .hero_content {
        padding: 30px;
    }

    .hero_content h1 {
        font-size: 42px;
        line-height: 46px;
    }

    .bg-f {
        height: 80vh;
    }

    .hero_area.v3 .hero_content,
    .hero_area.v8 .hero_content {
        width: 100%;
        left: 60%;
        padding-right: 20px;
    }

    .hero_area.v3 .hero-image,
    .hero_area.v8 .hero-image {
        height: 70vh;
    }



    .hero_area.v4 .hero_content {
        width: calc(100% - 60px);
    }

    .hero_area.v4 .hero-image {
        height: 70vh;
    }

    .hero_area.v5 .hero_content {
        left: calc(100% - 140px);
    }

    .hero_area.v5 .hero-image {
        height: 52vh;
    }

    .hero_area.v6:before {

        width: 580px;
    }

    .hero_area.v6::after {
        height: 40%;
    }

    .hero_area.v6 .hero_content p,
    .hero_area.v6 .hero_content a.btn.v1 {

        margin-left: 100px;

    }

    .hero_area.v6,
    .hero_area.v6 .hero_content_wrap {

        height: 70vh;
    }

    #hero_slider_1 .carousel-indicators {
        right: 4%;

    }

    .hero_area.v9 .hero_content {
        height: 65vh;
    }

    #hero_slider_2 .carousel-indicators {
        bottom: 18%;
    }

    #hero_slider_3 .carousel-indicators {
        left: 4%;

    }

    #hero_slider_4 .carousel-indicators {
        left: 5%;

    }

    .hero_area.v13 .hero_content_wrap {
        height: 75vh;
    }

    .hero_area.v13 .hero_img img {
        max-width: 90%;
    }



    .hero_form {

        padding: 18px 25px;
        border-radius: 5px;

    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {

    .btn.v1,
    .btn.v2 {
        font-size: 15px;
        line-height: 24px;
        padding: 10px 38px 8px;
    }

    .hero_area.v1 .hero_content {
        padding: 30px;
    }

    .hero_content h1 {
        font-size: 34px;
        line-height: 38px;
    }

    .hero_content p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .hero_area.v1.bg-f {
        height: 80vh;
    }

    .hero_area.v2 .hero_content {
        position: relative;
    }

    .hero_area.v2 .hero_video {
        transform: translateY(40px);
    }

    .hero_area.v3 .hero-image,
    .hero_area.v8 .hero-image {
        height: 50vh;
    }


    .hero_area.v3 .hero_content,
    .hero_area.v8 .hero_content {
        position: relative;
        padding: 40px 15px;
    }

    .hero_area.v4 .hero_content {
        position: relative;
        padding: 40px 15px;
    }

    .hero_area.v4 .hero_content {
        width: calc(100% - 15px);
    }

    .hero_area.v4 .hero-image {
        height: 50vh;
    }

    .hero_area.v5 .hero_content {
        position: relative;
    }

    .hero_area.v5 .hero_content {
        left: calc(100% - 160px);
        padding: 40px 0;
    }

    .hero_area.v5 .hero-image {
        height: 50vh;
    }

    .hero_area.v5 .hero_play_btn {
        left: 52%;
    }

    .hero_area.v6:before {
        width: 250px;
    }

    .hero_area.v6::after {
        height: 25%;
    }

    .hero_area.v6 .hero_content p,
    .hero_area.v6 .hero_content a.btn.v1 {

        margin-left: 0;

    }

    .hero_area.v6,
    .hero_area.v6 .hero_content_wrap {

        height: 70vh;
    }

    .hero_area.v7.bg-f {
        height: 65vh;
    }

    #hero_slider_1 .carousel-indicators {
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        transform: translateY(0);
        flex-direction: row;
        margin: 0 15%;
    }


    .hero_area.v9 .hero_portfolio {
        position: relative;
    }

    .hero_area.v9 .hero_content {
        height: 50vh;
    }

    #hero_slider_2 .carousel-indicators {
        bottom: 12%;
    }

    .hero_area.v10.bg-f {
        height: 65vh;
    }

    .hero_area.v10 .hero_content {
        padding: 40px 20px;
    }

    .hero_area.v11 .hero_content {
        position: relative;
        padding-top: 30px;
    }

    .hero_area.v12 .hero_content {
        position: relative;
        padding: 30px 0;
    }

    .promo_text h4 {
        font-size: 20px;
    }

    .promo_text p {

        font-size: 15px;
        line-height: 20px;
    }

    .hero_area.v12 .hero_video {
        padding: 30px 0;
    }

    #hero_slider_3 .carousel-indicators {
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        transform: translateY(0);
        flex-direction: row;
        margin: 0 15%;
    }

    .hero_area.v13 .hero_content {
        position: relative;
        padding: 30px 0;
    }

    .hero_area.v13 .hero_content h1 {
        margin-left: 0;
    }

    .hero_area.v13 .hero_img img {
        max-width: 100%;
    }

    #hero_slider_4 .carousel-indicators {
        left: 3.5%;

    }

    .hero_form {
        padding: 30px 15px;
    }

    .hero_area.v15 .hero_content {

        position: relative;
        padding: 30px 0 30px;

    }

    .hero_content {
        left: 0;
    }

    .hero_area.v17 .hero_content p,
    .hero_area.v18 .hero_content p {

        padding: 0px;

    }

    .hero_area.v18 .hero_form_wrap {

        margin: 0;

    }

    .hero_area.v18 .hero_form {

        padding: 20px 15px;

    }

    .hero_area.v18 .btn.v3 {
        padding: 12px 0 11px;
    }

    .hero_area.v18 .form-group {

        margin-bottom: 15px;

    }

}