.elementor-318441 .elementor-element.elementor-element-202aa46:not(.elementor-motion-effects-element-type-background), .elementor-318441 .elementor-element.elementor-element-202aa46 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F8F9FA;}.elementor-318441 .elementor-element.elementor-element-202aa46{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:100px 100px 100px 100px;}.elementor-318441 .elementor-element.elementor-element-202aa46 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-318441 .elementor-element.elementor-element-d59342e{text-align:left;}.elementor-318441 .elementor-element.elementor-element-d59342e .elementor-heading-title{color:#000000;}.elementor-318441 .elementor-element.elementor-element-50d9800{text-align:left;color:#222222;font-family:"Inter", Inter;font-size:13px;font-weight:400;}.elementor-318441 .elementor-element.elementor-element-ea793ad > .elementor-widget-container{padding:50px 0px 50px 0px;border-radius:20px 20px 20px 20px;}@media(max-width:1024px){.elementor-318441 .elementor-element.elementor-element-202aa46{margin-top:100px;margin-bottom:0px;padding:15px 15px 15px 15px;}}@media(max-width:767px){.elementor-318441 .elementor-element.elementor-element-202aa46{margin-top:40px;margin-bottom:40px;padding:50px 10px 100px 10px;}}/* Start custom CSS for shortcode, class: .elementor-element-ea793ad *//*.forminator-ui.forminator-custom-form[data-design=flat] .forminator-field{*/
    
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

 .forminator-edit-module{
        display: none;
    }

.transaction .checkbox-row .forminator-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.transaction .checkbox-row .forminator-label{
    margin-right: 20px !important;
}

.transaction .forminator-pagination-footer .forminator-button{
    width: 200px !important;
}

.transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row {
        padding: 20px 20px;
        margin:0px !important;
        background: white;
    }
    



 .transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(2),  .transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(17){
      border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}





.transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(3), .transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(14), .transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(15), .transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(18), .transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(21), .transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(28) {
      border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(15), .transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(19), .transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(21), .transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(22) {
      border-top-left-radius: 15px;
    border-top-right-radius: 15px;
     margin-top: 10px !important;
}

.transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(4) {
      border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top:10px !important;
}

 .transaction .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:nth-child(21) {
      border-top-left-radius: 15px;
    border-top-right-radius: 15px;
     margin-top: 10px !important;
}





#forminator-custom-form-318301--page-0  .forminator-row:last-child {
  border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top:10px !important;
  border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#forminator-custom-form-318301--page-0 .forminator-row:nth-child(1) {
      border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}





#forminator-custom-form-318301--page-0 .forminator-row:nth-child(2),#forminator-custom-form-318301--page-0 .forminator-row:nth-child(13) {
      border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom:10px !important;
}

#forminator-custom-form-318301--page-0 .forminator-row:nth-child(3) {
      border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/*Step 2 */



#forminator-custom-form-318301--page-1 .forminator-row:nth-child(1) {
       border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#forminator-custom-form-318301--page-1  .forminator-row:last-child {
  border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   
}

#forminator-custom-form-318301--page-1 .forminator-row:nth-child(5){
   border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   margin-top: 10px !important;
}
#forminator-custom-form-318301--page-1 .forminator-row:nth-child(2){
   border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   border-bottom-right-radius: 15px;
   
}
#forminator-custom-form-318301--page-1 .forminator-row:nth-child(5){
   border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  
   margin-bottom: 10px !important;
}

#forminator-custom-form-318301--page-1 .forminator-row:nth-child(6){
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.forminator-ui#forminator-module-318301.forminator-design--flat .forminator-radio {
    background: #004225;
    padding: 20px;
    border-radius: 50px;
}

.buttontop .forminator-radio{
    color:white!important;
}

#forminator-module-318301.forminator-design--flat .forminator-pagination-steps .forminator-step.forminator-current ~ .forminator-step .forminator-step-dot {
    background-color: #fff!important;
}


.forminator-step-1 .forminator-step-label{
    color:black !important;
}



/* desktop */

@media only screen and (min-width: 782px){
    .contactbtn  .forminator-radio-image{
    
    top: 12px!important;
    left: 10px!important;
    
}


   #forminator-module-318301 .forminator-field .forminator-radio .forminator-radio-image span {
    width: 25px!important;
    height: 25px!important;
    object-fit: contain;
}



.forminator-ui.forminator-custom-form[data-design=flat]:not(.forminator-size--small) .forminator-pagination-steps .forminator-break:first-child{
    
 display: contents!important;
}

.forminator-ui.forminator-custom-form[data-design=flat]:not(.forminator-size--small) .forminator-pagination-steps .forminator-break {
        width: auto;
        height: 2px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin: 10px 0 !important;
    
}

.forminator-ui.forminator-custom-form[data-design=flat]:not(.forminator-size--small) .forminator-pagination-steps .forminator-step .forminator-step-label+.forminator-step-dot {
    margin-top: 5px;
    margin-right: 0;
}


.forminator-pagination-steps{
    display:flex!important;
    width:30%;
}

.forminator-ui.forminator-custom-form[data-design=flat]:not(.forminator-size--small) .forminator-pagination-steps .forminator-break:before {
    display:none;
}


#forminator-module-318301.forminator-design--flat .forminator-pagination-steps .forminator-step .forminator-step-dot {
    z-index: 1;
    padding: 8px;
    border: 4px solid #eee;
}

#forminator-module-318301.forminator-design--flat .forminator-pagination-steps .forminator-step.forminator-step-0 .forminator-step-dot {
    z-index: 1;
    padding: 8px;
    border: 4px solid #bc9f4c;
}

#forminator-module-318301.forminator-design--flat .forminator-pagination-steps .forminator-step.forminator-current .forminator-step-dot {
    z-index: 1;
    padding: 8px;
    border: 4px solid #bc9f4c;
}

.forminator-ui.forminator-custom-form[data-design=flat]:not(.forminator-size--small) .forminator-pagination-steps .forminator-break:last-child {
        display: none !important;
    }
    
    #forminator-module-318301.forminator-design--flat .forminator-pagination-steps .forminator-step-0 .forminator-step-label {
    color: #ffffff !important;
    position: relative;
    left: 0px;
    top: 26px;
    z-index: 2;
}

 

#forminator-module-318301.forminator-design--flat .forminator-pagination-steps .forminator-step-1 .forminator-step-label {
    color: #124326 !important;
    position: relative;
    left: 0px;
    top: 26px;
    z-index: 2;
}


#forminator-module-318301.forminator-design--flat .forminator-pagination-steps .forminator-step.forminator-current .forminator-step-label {
    color: #fff !important;
    position: relative;
    left: 0px;
    top: 26px;
    z-index: 2;
}

  
}


/* Mobile */

@media only screen and (max-width: 783px) {
  .forminator-ui#forminator-module-318301.forminator-design--flat .forminator-radio {
    
    background: black;
    padding-top: 10px!important;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px!important;
    border-radius: 50px;
}

.forminator-ui.forminator-custom-form[data-design=flat]:not(.forminator-size--small) .forminator-pagination-steps .forminator-break:first-child{
    
 display: contents!important;
}

.forminator-ui.forminator-custom-form[data-design=flat]:not(.forminator-size--small) .forminator-pagination-steps .forminator-break {
    width: auto;
    height: 1px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 6px 0;
}

.forminator-ui.forminator-custom-form[data-design=flat]:not(.forminator-size--small) .forminator-pagination-steps .forminator-step .forminator-step-label+.forminator-step-dot {
    margin-top: 5px;
    margin-right: 0;
}


.forminator-pagination-steps{
    display:flex!important;
}

.forminator-ui.forminator-custom-form[data-design=flat]:not(.forminator-size--small) .forminator-pagination-steps .forminator-break:before {
    display:none;
}


#forminator-module-318301.forminator-design--flat .forminator-pagination-steps .forminator-step.forminator-current .forminator-step-dot {
    
    padding: 10px;
    border: 4px solid #bc9f4c;
}

#forminator-module-318301.forminator-design--flat .forminator-pagination-steps .forminator-step .forminator-step-dot {
   
    padding: 10px;
    border: 4px solid #eee;
}

#forminator-module-318301.forminator-design--flat .forminator-pagination-steps .forminator-step.forminator-step-0 .forminator-step-dot {
   
    padding: 10px;
    border: 4px solid #bc9f4c;
}


.contactbtn .forminator-radio-image span {
    width: 15px !important;
    height: 15px !important;
    object-fit: contain;
}


.contactbtn  .forminator-radio-image{
    
top: 9px!important;
left: 11px!important;
    
}

.contactbtn .forminator-field {
    display: flex;
    justify-content: flex-start !important;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}


.contactbtn .forminator-radio  {
    background: #ffffff !important;
    padding: 25px;
    border-radius: 15px;
    
    color:black!important;
    width: 100%;
   
}




    #forminator-module-318301.forminator-design--flat .forminator-pagination-steps .forminator-step-0 .forminator-step-label {
    color: #ffffff !important;
    position: relative;
    left: -17px;
    top: 2px;
    z-index: 2;
}

 

#forminator-module-318301.forminator-design--flat .forminator-pagination-steps .forminator-step-1 .forminator-step-label {
    color: #124326 !important;
    position: relative;
    left: -17px;
    top: 2px;
    z-index: 2;
}


#forminator-module-318301.forminator-design--flat .forminator-pagination-steps .forminator-step.forminator-current .forminator-step-label {
    color: #fff !important;
    position: relative;
    left: -17px;
    top: 2px;
    z-index: 2;
}


}

.display-column .forminator-field{
    
    display: flex;
    flex-direction: column;
}

.forminator-ui#forminator-module-318301.forminator-design--flat .forminator-label {
    color: #3f3f3f;
    color: #3F3F3F;
    font-family: Inter;
    font-size: 15px !important;
    font-style: normal;
    font-weight: 400!important;
    line-height: 35.655px;
}

.forminator-field{
    color: #494949;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}

.forminator-field-select .select2-selection__placeholder, .select2-selection__rendered,.forminator-design--flat .forminator-input{
color: #3F3F3F;
font-family: Inter;
font-size: 14px !important;
}


.forminator-ui#forminator-module-318301.forminator-design--flat .forminator-textarea{
     border-radius: 15px;
     border:0.5px solid #BBBBBB;
     
}

#forminator-module-318301.forminator-design--flat .forminator-input {
    border:0.5px solid #BBBBBB;
    border-radius: 50px;
}

.forminator-ui.forminator-custom-form[data-design=flat] select.forminator-select2+.forminator-select {
    border:0.5px solid #BBBBBB;
    border-radius: 50px;
}

.forminator-ui#forminator-module-318301.forminator-design--flat .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] {
   
    border-radius: 50px;
}

.label-hide .forminator-ui#forminator-module-279561.forminator-design--flat .forminator-label {
    display: none ;
    background: red;
}

.display-column-center .forminator-field{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}




.contactbtn .forminator-field{
    display: flex;
        justify-content: flex-start !important;
    flex-wrap: wrap;
}





.contactbtn .forminator-radio-image {
    
       border-radius: 30px;
}

.forminator-pagination-footer {
    
    justify-content: space-between !important;
}

.forminator-pagination-footer .forminator-button {
    border-radius: 50px!important;
    
}

.forminator-pagination-footer .forminator-button-next{
    border: 1px solid #000!important;
}

.forminator-pagination-footer .forminator-button-back{
    border:1px solid #efa403!important;
}


.label-hide .forminator-field .forminator-label{
        display: none !important;
}

.yesnobtn .forminator-radio  {
    background: #CDC5C5 !important;
    border-radius: 50px;
    padding-top: 10px!important;
    padding-right: 15px;
    padding-bottom: 10px!important;
    
    color:white!important;
    font-weight: bold;
    
   
}

.yesnobtn .forminator-field {
    align-items: center;
    align-items: baseline;
}

.display-column .forminator-label, .yesnobtn .forminator-label {
    font-size: 16px!important;
}

.forminator-ui.forminator-custom-form[data-design=flat]:not(.forminator-size--small) .forminator-pagination-steps .forminator-break:before {
    
    height: 6px!important;
    top: -3px!important;
    left: 0;
}

.forminator-ui#forminator-module-318301.forminator-design--flat .forminator-checkbox input:checked + .forminator-checkbox-box {
    background-color: #EDEDED !important;
}/* End custom CSS */