#booknetic_theme_2 *
{
    font-family: 'Poppins', sans-serif !important;
}
#booknetic_theme_2
{
    height: 600px;
}

#booknetic_theme_2 .booknetic_appointment_steps
{
    background: #a39789;
}

#booknetic_theme_2 .booknetic_badge
{
    background: #c7c0b6;
}
#booknetic_theme_2 .booknetic_appointment_steps_footer_txt2
{
    color: #c7c0b6;
}
#booknetic_theme_2 .booknetic_step_title, #booknetic_theme_2 .booknetic_appointment_steps_footer_txt1
{
    color: #c7c0b7;
}

#booknetic_theme_2 .booknetic_selected_step > .booknetic_badge::after
{
background-color: #505050;
}
#booknetic_theme_2 .booknetic_selected_step .booknetic_step_title
{
color: #ffffff;
}

#booknetic_theme_2 .booknetic_active_step .booknetic_badge, #booknetic_theme_2 .booknetic_calendar_days > div > span > i[a], #booknetic_theme_2 .booknetic_btn_success
{
    background: #838383;
}
#booknetic_theme_2 .booknetic_active_step .booknetic_step_title
{
    color: #ffffff;
}

#booknetic_theme_2 .booknetic_btn_primary,
#booknetic_theme_2 .booknetic_selected_time,
#booknetic_theme_2 .booknetic_calendar_selected_day > div
{
    background: #a39789 !important;
    color: #ffffff !important;
}
#booknetic_theme_2 .booknetic_service_category, #booknetic_theme_2 .booknetic_service_extra_title, #booknetic_theme_2 .booknetic_times_title, #booknetic_theme_2 .booknetic_text_primary
{
    color: #a39789 !important;
}

#booknetic_theme_2 .booknetic_category_accordion .booknetic_service_category span {
    background: #a39789 !important;
}

#booknetic_theme_2 .booknetic_appointment_container_header
{
    color: #292d32 !important;
}

#booknetic_theme_2 .booknetic_service_card_selected,
#booknetic_theme_2 .booknetic_card_selected,
#booknetic_theme_2 .booknetic_service_extra_card_selected,
#booknetic_theme_2 .booknetic_payment_method_selected,
#booknetic_theme_2 .booknetic-cart-item.active
{
    border-color: #a39789 !important;
}

#booknetic_theme_2 .booknetic_service_card_price,
#booknetic_theme_2 .booknetic_service_extra_card_price,
#booknetic_theme_2 .booknetic_confirm_details_price:not([data-price-id="discount"] .booknetic_confirm_details_price,.booknetic_gift_discount_price),
#booknetic_theme_2 .booknetic-cart-item-body-cell.amount,
#booknetic_theme_2 .booknetic_sum_price
{
    color: #53d56c !important;
}




