<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1">
<title>[[product_title]]</title>
<link rel="stylesheet" type="text/css" href="https://www.newishtech.com/sandy7452/css/listing.css">
<link rel="stylesheet" type="text/css" href="https://www.newishtech.com/sandy7452/css/responsive.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<div class="pagewidth">
<div class="pageminwidth">
<div class="pagelayout">
<div class="pagecontainer">
<!-- HEADER START -->
<div class="d-p-max-width d-p-usp">
<div class="d-p-wrapper">
<div class="d-p-points">
<ul>
<li>WELCOME TO OUR EBAY STORE</li>
<li>EXPEDITED SHIPPING ON ALL ORDERS</li>
</ul>
</div>
</div>
</div>
<div class="d-p-max-width d-p-header">
<div class="d-p-wrapper">
<div class="d-p-logo">
<a target="_blank" href="https://www.ebay.com/str/newishtechnologies" title="NewishTech"><img src="https://www.newishtech.com/sandy7452/images/logo.png" alt="NewishTech" title="NewishTech" /></a>
</div>
</div>
</div>
<div class="d-p-max-width d-p-menu">
<div class="d-p-wrapper">
<div class="d-p-menu-wrap">
<ul class="lev1">
<li class="main-cat-clothing"><a target="_blank" href="https://www.ebay.com/usr/newishtechnologies" title="About Us">About Us</a>
</li>
<li class="main-cat-dresses"><a target="_blank" href="https://www.ebay.com/fdbk/feedback_profile/newishtechnologies?filter=feedback_page:RECEIVED_AS_SELLER" title="Feedback">Feedback</a>
</li>
<li class="main-cat-shoes"><a target="_blank" href="https://www.ebay.com/usr/newishtechnologies#w1-2" title="Add to Favorites">Add to Favorites</a>
</li>
<li class="main-cat-accessories"><a target="_blank" href="https://contact.ebay.com/ws/eBayISAPI.dll?FindAnswers&requested=newishtechnologies&_trksid=p2545226.m2531.l4583&rt=nc" title="Contact Us">Contact Us</a>
</li>
</ul>
</div>
</div>
</div>
<!-- ----------------------- MOBILE MENU ----------------------- -->
<div class="d-p-max-width d-p-mobile-menu d-p-hidden">
<div class="d-p-wrapper">
<input type="checkbox" id="menuclick">
<label for="menuclick">MENU</label>
<ul id="d-p-catsdrop">
<li><a target="_blank" href="https://www.ebay.com/usr/newishtechnologies" title="About Us">About Us</a></li>
<li><a target="_blank" href="https://www.ebay.com/fdbk/feedback_profile/newishtechnologies?filter=feedback_page:RECEIVED_AS_SELLER" title="Feedback">Feedback</a></li>
<li><a target="_blank" href="https://www.ebay.com/usr/newishtechnologies#w1-2" title="Add to Favorites">Add to Favorites</a></li>
<li><a target="_blank" href="https://contact.ebay.com/ws/eBayISAPI.dll?FindAnswers&requested=newishtechnologies&_trksid=p2545226.m2531.l4583&rt=nc" title="Contact Us">Contact Us</a></li>
</ul>
</div>
</div>
<!-- ----------------------------------------------------------- -->
<!-- HEADER END -->
<div class="d-p-max-width d-p-listing-body">
<div class="d-p-wrapper">
<div class="d-p-left">
<div class="d-p-gallery">
<div class="d-p-mainimg">
<div class="d-p-imgwrap">
<!-- *************************************** GALLERY *************************************** -->
<input name="cs0_anchor1" id="cs0_slide_1" type="radio" class="cs0_anchor slide" checked="">
<input name="cs0_anchor1" id="cs0_slide_2" type="radio" class="cs0_anchor slide">
<input name="cs0_anchor1" id="cs0_slide_3" type="radio" class="cs0_anchor slide">
<input name="cs0_anchor1" id="cs0_slide_4" type="radio" class="cs0_anchor slide">
<input name="cs0_anchor1" id="cs0_slide_5" type="radio" class="cs0_anchor slide">
<input name="cs0_anchor1" id="cs0_slide_6" type="radio" class="cs0_anchor slide">
<div class="num1 slide img_fix"><img src="[[product_main_image_url]]"></div>
<div class="num2 slide img_fix"><img src="[[img_url_2]]"></div>
<div class="num3 slide img_fix"><img src="[[img_url_3]]"></div>
<div class="num4 slide img_fix"><img src="[[img_url_4]]"></div>
<div class="num5 slide img_fix"><img src="[[img_url_5]]"></div>
<div class="num6 slide img_fix"><img src="[[img_url_6]]"></div>
<div class="d-p-arrows">
<label for="cs0_slide_1" hasimg="[[product_main_image_url]]" class="arrow right show_img_01"></label>
<label for="cs0_slide_1" hasimg="[[product_main_image_url]]" class="arrow left show_img_01"></label>
<label for="cs0_slide_2" hasimg="[[img_url_2]]" class="arrow left show_img_02"></label>
<label for="cs0_slide_2" hasimg="[[img_url_2]]" class="arrow right show_img_02"></label>
<label for="cs0_slide_3" hasimg="[[img_url_3]]" class="arrow left show_img_03"></label>
<label for="cs0_slide_3" hasimg="[[img_url_3]]" class="arrow right show_img_03"></label>
<label for="cs0_slide_4" hasimg="[[img_url_4]]" class="arrow left show_img_04"></label>
<label for="cs0_slide_4" hasimg="[[img_url_4]]" class="arrow right show_img_04"></label>
<label for="cs0_slide_5" hasimg="[[img_url_5]]" class="arrow left show_img_05"></label>
<label for="cs0_slide_5" hasimg="[[img_url_5]]" class="arrow right show_img_05"></label>
<label for="cs0_slide_6" hasimg="[[img_url_6]]" class="arrow left show_img_06"></label>
<label for="cs0_slide_6" hasimg="[[img_url_6]]" class="arrow right show_img_06"></label>
</div>
<!-- **************************************************************************************** -->
</div>
</div>
<!-- main img end -->
<div class="d-p-subimg">
<div class="d-p-subimg-wrap">
<label hasimg="[[product_main_image_url]]" for="cs0_slide_1" class="img_fix thumb_01"><img src="[[product_main_image_url]]" alt="[[product_title]]" title="[[product_title]]" /></label>
<label hasimg="[[img_url_2]]" for="cs0_slide_2" class="img_fix thumb_02"><img src="[[img_url_2]]" alt="[[product_title]]" title="[[product_title]]" /></label>
<label hasimg="[[img_url_3]]" for="cs0_slide_3" class="img_fix thumb_03"><img src="[[img_url_3]]" alt="[[product_title]]" title="[[product_title]]" /></label>
<label hasimg="[[img_url_4]]" for="cs0_slide_4" class="img_fix thumb_04"><img src="[[img_url_4]]" alt="[[product_title]]" title="[[product_title]]" /></label>
<label hasimg="[[img_url_5]]" for="cs0_slide_5" class="img_fix thumb_05"><img src="[[img_url_5]]" alt="[[product_title]]" title="[[product_title]]" /></label>
<label hasimg="[[img_url_6]]" for="cs0_slide_6" class="img_fix thumb_06"><img src="[[img_url_6]]" alt="[[product_title]]" title="[[product_title]]" /></label>
</div>
</div>
<!-- sub img end -->
</div>
</div>
<div class="d-p-right">
<div class="d-p-productinfo">
<h1>[[product_title]]</h1>
</div>
<div class="d-p-productdetails">
<span><b>Product Details</b></span>
<p>[[product_excerpt]]</p><p>[[product_content]]</p>
</div>
</div>
</div>
</div>
<div class="d-p-max-width d-p-tabs">
<div class="d-p-wrapper">
<div class="d-p-tabs-wrap">
<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1"><span>Delivery</span></label>
<input id="tab2" type="radio" name="tabs">
<label for="tab2"><span>Returns</span></label>
<input id="tab3" type="radio" name="tabs">
<label for="tab3"><span>About us</span></label>
<section id="content1">
<p>All purchases made before 12:00pm Eastern Standard Time are shipped the same day. Depending on your geographical location, most items are delivered in 2-days or less. Newish Technologies takes pride in getting its customer the product they purchased in an expedient manner. Please keep in mind that delivery times can be delayed due to weather, Holidays, or unforeseen circumstances that are beyond our control.</p>
<p>Buyers are responsible for the package once it shows as delivered. Items that show as delivered will not be refunded due to theft or items delivered to wrong address. You can file a claim with USPS or UPS to receive a refund.</p>
<p>All items that weigh less than 1 pound will be shipped via USPS First Class (2-5 days).</p>
<p>Items that weigh over 1 pound will be shipped via USPS Priority Mail (1-3 Days) or UPS Ground (up to 5 Days) depending on weight and dimensions of the items that you purchased.
You will receive an automated email once your label has been created that will show you the item you purchased plus the tracking information.</p>
<p><b>LOCAL PICKUP:</b><br />
We offer local pickup free of charge on most items. Local pickup must be done by appointment only. Our pickup hours are Monday thru Friday – 9:00am to 4:00pm EST.</p>
</section>
<section id="content2">
<p>Any device purchased from newishtech.com, eBay, or Amazon that arrives dead on arrival (DOA), arrived in damaged condition, or is still in an unopened box can be returned for a full refund within 30 days of purchase with the exception of items that are marked “as-is”, “no returns”, “failed”, “non-working”, or “for parts only.”</p>
<p>Custom special orders and personalized products cannot be returned. Items damaged, altered, or abused after delivery to the client cannot be returned. Delivery, labor and/or installation fees cannot be refunded. If you return an item for exchange, the replacement merchandise that you receive cannot be refunded, it is only eligible for exchange. Where appropriate, refunds will be issued in the same form as the original payment method. We reserve the right to limit or decline a refund or exchange. </p>
<p>Newish Technologies may test devices that are returned and impose a customer fee equal to 20% of the product sell price if the customer misrepresents the condition of the product. Any returned device that is damaged through customer misuse, is missing parts, password protected, or is in unsalable condition due to customer tampering may result in the customer being denied a refund or charged a higher restocking fee based on the condition of the product.</p>
<p><b>NOTE:</b> <font style="font-style: italic;">ALL ITEMS THAT WE SELL ARE ASSIGNED AN UNIQUE IAT (INTERNAL ASSET TAG) THAT MUST MATCH WITH OUR INVENTORY SYSTEM IN ORDER TO RECEIVE FULL CREDIT OR EXCHANGE. OUR IAT'S TRACK SERIAL NUMBERS, PARTS/PERIPHERALS, AND CONDITIONS OF EACH ITEM SOLD.</font></p>
</section>
<section id="content3">
<p>Newish Technologies is the consumer goods division of Resale Technologies, an R2, ISO and veteran owned certified B2B technology asset management company. </p>
<p>Newish Technologies offers an array of consumer electronics that range from brand new to slightly used customer returns. All products come from Major Retailers across North America and are offered at deeply discounted prices.</p>
<p>All equipment received is thoroughly audited, benchmark tested, and recorded to ensure the proper representation of equipment bought and sold.</p>
<p>Our mission is quite simple, provide products and services so extraordinaire that it’s impossible to do business with any other vendor. We want customers for life and promise to do what it takes to make that happen.</p>
<p>Shop with confidence!</p>
</section>
</div>
</div>
</div>
<div class="d-p-max-width d-p-popular">
<div class="d-p-wrapper">
<div class="d-p-pop">
<h1><b>Popular</b> Categories</h1>
<ul>
<li><a target="_blank" href="https://www.ebay.com/str/newishtechnologies/Computers-and-Office/_i.html?_storecat=3934830419#mainContent" title="Computers & Office"><img src="https://www.newishtech.com/sandy7452/images/computers-and-office.jpg" alt="Computers & Office" title="Computers & Office" /><div class="cat-overlay"><span>Computers & Office</span></div></a></li>
<li><a target="_blank" href="https://www.ebay.com/str/newishtechnologies/Cell-Phones/_i.html?_storecat=3934830319#mainContent" title="Cell Phones & Accessories"><img src="https://www.newishtech.com/sandy7452/images/cell-phones-and-accessories.jpg" alt="Cell Phones & Accessories" title="Cell Phones & Accessories" /><div class="cat-overlay"><span>Cell Phones & Accessories</span></div></a></li>
<li><a target="_blank" href="https://www.ebay.com/str/newishtechnologies/Video-Games/_i.html?_storecat=3934830919#mainContent" title="Gaming"><img src="https://www.newishtech.com/sandy7452/images/gaming.jpg" alt="Gaming" title="Gaming" /><div class="cat-overlay"><span>Gaming</span></div></a></li>
<li><a target="_blank" href="https://www.ebay.com/str/newishtechnologies/Wearable-Technology/_i.html?_storecat=3934830719#mainContent" title="Wearable Technology"><img src="https://www.newishtech.com/sandy7452/images/wearable-technology.jpg" alt="Wearable Technology" title="Wearable Technology" /><div class="cat-overlay"><span>Wearable Technology</span></div></a></li>
</ul>
</div>
</div>
</div>
<div class="d-p-max-width d-p-footer">
<div class="d-p-wrapper">
<h1>Information</h1>
<div class="footer-holder">
<div class="footer-links">
<ul>
<li><h2>Shopping with us</h2></li>
<li><a target="_blank" href="https://www.ebay.com/usr/newishtechnologies" title="About Us">About Us</a></li>
<li><a target="_blank" href="https://www.ebay.com/str/newishtechnologies?_sop=10&rt=nc#mainContent" title="New Arrivals">New Arrivals</a></li>
<li><a target="_blank" href="https://www.ebay.com/str/newishtechnologies?_sop=1&rt=nc#mainContent" title="Ending Soon">Ending Soon</a></li>
<li><a target="_blank" href="https://contact.ebay.com/ws/eBayISAPI.dll?FindAnswers&requested=newishtechnologies&_trksid=p2545226.m2531.l4583&rt=nc" title="Contact Us">Contact Us</a></li>
</ul>
</div>
<div class="footer-newsletter">
<div class="f-n-img">
<img src="https://www.newishtech.com/sandy7452/images/icon-letter.png" alt="Subscribe to our newsletter" title="Subscribe to our newsletter" />
</div>
<div class="f-n-text">
<p>Subscribe to our newsletter</p>
</div>
<div class="f-n-button">
<a target="_blank" href="https://www.ebay.com/usr/newishtechnologies#w1-2" title="Subscribe to our newsletter">Join</a>
</div>
</div>
</div>
</div>
</div>
<div class="d-p-max-width d-p-footer-logo">
<div class="d-p-wrapper">
<img src="https://www.newishtech.com/sandy7452/images/logo.png" alt="NewishTech" title="NewishTech" />
</div>
</div>
</div>
</div>
</div>
</div>
<div vocab="https://schema.org/" typeof="Product" style="display:none;"><span property="description">[[product_title]]</span></div>