body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-inter: Inter;
  --font-open-sans: "Open Sans";
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base-6: 15.6px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-base-9: 15.9px;
  --font-size-sm-9: 13.9px;
  --font-size-sm: 14px;
  --font-size-sm-8: 13.8px;
  --font-size-base-8: 16.8px;
  --font-size-lgi: 19px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-base-5: 16.5px;
  --font-size-5xs: 8px;
  --font-size-sm-2: 13.2px;
  --font-size-mid-7: 17.7px;
  --font-size-xs: 12px;
  --font-size-53xl: 72px;
  --font-size-24xl: 43px;
  --font-size-39xl: 58px;
  --font-size-5xl: 24px;
  --font-size-mid-9: 17.9px;
  --font-size-xl-2: 20.2px;
  --font-size-3xs-8: 9.8px;
  --font-size-3xl: 22px;
  --font-size-37xl: 56px;
  --font-size-26xl: 45px;
  --font-size-15xl: 34px;
  --font-size-mid-6: 17.6px;
  --font-size-mini-9: 14.9px;
  --font-size-base-7: 16.7px;
  --font-size-lg-8: 18.8px;
  --font-size-23xl: 42px;
  --font-size-6xl: 25px;
  --font-size-mini-6: 14.6px;
  --font-size-3xs: 10px;
  --font-size-xl-5: 20.5px;
  --font-size-xl-1: 20.1px;
  --font-size-mini-5: 14.5px;
  --font-size-mini: 15px;
  --font-size-lg-4: 18.4px;
  --font-size-4xl-1: 23.1px;
  --font-size-mini-3: 14.3px;
  --font-size-xl-3: 20.3px;
  --font-size-mini-8: 14.8px;
  --font-size-5xl-5: 24.5px;
  --font-size-xl: 20px;
  --font-size-mid: 17px;
  --font-size-mini-4: 14.4px;
  --font-size-2xl: 21px;
  --font-size-4xl: 23px;
  --font-size-10xl: 29px;
  --font-size-sm-1: 13.1px;
  --font-size-xs-7: 11.7px;
  --font-size-xs-1: 11.1px;
  --font-size-smi-3: 12.3px;
  --font-size-6xs: 7px;
  --font-size-xs-2: 11.2px;
  --font-size-4xs-4: 8.4px;
  --font-size-2xs-2: 10.2px;
  --font-size-4xs: 9px;
  --font-size-153xl-2: 172.2px;
  --font-size-50xl: 69px;
  --font-size-43xl: 62px;
  --font-size-18xl: 37px;
  --font-size-31xl: 50px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #fafafa;
  --color-gray-200: #858585;
  --color-gray-300: #272727;
  --color-gray-400: #212529;
  --color-gray-500: #242424;
  --color-gray-600: #191d23;
  --color-gray-700: #111010;
  --color-gray-800: #101010;
  --color-gray-900: #0f0f0f;
  --color-gray-1000: #0a0a0a;
  --color-gray-1100: rgba(15, 15, 15, 0.75);
  --color-gray-1200: rgba(255, 255, 255, 0.7);
  --color-gray-1300: rgba(255, 255, 255, 0.85);
  --color-gray-1500: rgba(255, 255, 255, 0.2);
  --color-gray-1600: rgba(0, 0, 0, 0.87);
  --color-gray-1400: rgba(255, 255, 255, 0);
  --color-dimgray-600: #717171;
  --color-dimgray-100: #6d6d6d;
  --color-dimgray-200: #616161;
  --color-dimgray-300: #5f5f5f;
  --color-dimgray-400: #515151;
  --color-dimgray-500: rgba(81, 81, 81, 0.7);
  --color-whitesmoke-100: #f8f9fa;
  --color-whitesmoke-200: #f8f8f8;
  --color-whitesmoke-300: #f5f5f5;
  --color-whitesmoke-400: #f4f4f4;
  --color-whitesmoke-500: #efefef;
  --color-whitesmoke-600: #eee;
  --color-black: #000;
  --color-crimson: #ff464c;
  --color-aliceblue: #edf0f8;
  --color-darkslategray-100: #3b634c;
  --color-darkslategray-200: #444;
  --color-darkslategray-300: #333;
  --color-darkslategray-400: #004225;
  --color-darkslategray-700: rgba(46, 46, 46, 0.71);
  --color-darkslategray-500: rgba(68, 68, 68, 0.75);
  --color-darkslategray-600: rgba(68, 68, 68, 0.7);
  --color-gainsboro-100: #e4e4e4;
  --color-gainsboro-400: #e0e0e0;
  --color-gainsboro-500: #ddd;
  --color-gainsboro-200: #dadada;
  --color-gainsboro-300: rgba(217, 217, 217, 0.33);
  --neutral-200: #d0d5dd;
  --color-lightgray-100: #cbcbcb;
  --color-silver-100: #c7c7c7;
  --color-silver-200: #bbb;
  --color-cadetblue: #618a73;
  --color-darkgray-100: #b3b3b3;
  --color-darkgray-200: #b0b0b0;
  --color-darkgray-300: #a1a1a1;
  --color-darkgray-400: #9c9c9c;
  --color-darkkhaki-100: #bc9f4c;
  --color-darkkhaki-200: #be9b52;
  --color-darkkhaki-300: rgba(188, 159, 76, 0.3);
  --color-slategray: #64748b;
  --color-darkolivegreen: #3b6c50;
  --color-tan: #ad9d6f;
  --color-darkgoldenrod: #bf9b3e;
  --color-antiquewhite: #e3dbc2;
  --color-forestgreen: #3e9242;
  --color-linen: #fbf3ea;
  --color-mediumseagreen-100: #1bbb6b;
  --color-mediumseagreen-200: rgba(27, 187, 107, 0.24);
  --color-darkslateblue: #3a4980;
  --color-lavenderblush: #fff0f0;
  --color-lightcoral: #d46f77;
  --color-teal: #577f68;

  /* Gaps */
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-xl: 20px;
  --gap-60xl-3: 79.3px;
  --gap-base-1: 15.1px;
  --gap-11xs: 2px;
  --gap-21xl: 40px;
  --gap-7xl: 26px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-2xs: 11px;
  --gap-5xl: 24px;
  --gap-65xl: 84px;
  --gap-23xl: 42px;
  --gap-4xs-5: 8.5px;
  --gap-5xs-8: 7.8px;
  --gap-base-5: 15.5px;
  --gap-xs: 12px;
  --gap-2xl: 21px;
  --gap-lg: 18px;
  --gap-8xs-5: 4.5px;
  --gap-2xs-3: 10.3px;
  --gap-6xl: 25px;
  --gap-lgi: 19px;
  --gap-4xs: 9px;
  --gap-10xs: 3px;
  --gap-29xl: 48px;
  --gap-mid: 17px;
  --gap-25xl: 44px;
  --gap-69xl: 88px;
  --gap-3xl: 22px;
  --gap-51xl: 70px;
  --gap-16xl: 35px;
  --gap-4xl-8: 23.8px;
  --gap-xs-5: 11.5px;
  --gap-10xl: 29px;
  --gap-61xl: 80px;
  --gap-13xl-3: 32.3px;
  --gap-lgi-8: 19.8px;
  --gap-8xs-8: 4.8px;
  --gap-7xl-8: 26.8px;
  --gap-3xs-2: 9.2px;
  --gap-6xl-8: 25.8px;
  --gap-2xs-2: 10.2px;
  --gap-9xl: 28px;
  --gap-2xs-9: 10.9px;
  --gap-9xl-2: 28.2px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-12xl: 31px;
  --gap-8xs: 5px;
  --gap-14xl: 33px;
  --gap-smi: 13px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-9xs: 4px;
  --gap-184xl-3: 203.3px;
  --gap-83xl: 102px;
  --gap-6xs-7: 6.7px;
  --gap-base-6: 16.6px;
  --gap-11xs-7: 1.7px;
  --gap-7xs-2: 5.2px;
  --gap-2xs-7: 10.7px;
  --gap-base-8: 16.8px;
  --gap-17xl-6: 36.6px;
  --gap-7xs-8: 5.8px;
  --gap-7xs: 6px;
  --gap-7xs-4: 5.4px;
  --gap-11xs-8: 1.8px;
  --gap-11xs-4: 1.4px;
  --gap-12xs: 1px;
  --gap-11xs-6: 1.6px;
  --gap-3xs-8: 9.8px;
  --gap-37xl: 56px;
  --gap-2xs-5: 10.5px;
  --gap-xs-9: 11.9px;
  --gap-sm: 14px;
  --gap-base-7: 16.7px;
  --gap-mini-3: 14.3px;
  --gap-4xs-4: 8.4px;
  --gap-2xs-1: 10.1px;
  --gap-xs-1: 11.1px;
  --gap-2xs-6: 10.6px;
  --gap-2xs-4: 10.4px;
  --gap-2xs-8: 10.8px;
  --gap-xs-2: 11.2px;
  --gap-34xl: 53px;
  --gap-9xs-2: 3.2px;
  --gap-19xl-7: 38.7px;
  --gap-6xs: 7px;
  --gap-25xl-9: 44.9px;
  --gap-smi-1: 12.1px;
  --gap-mini-8: 14.8px;
  --gap-mid-3: 17.3px;
  --gap-9xs-7: 3.7px;
  --gap-smi-7: 12.7px;
  --gap-mid-9: 17.9px;
  --gap-5xs-3: 7.3px;
  --gap-6xs-9: 6.9px;
  --gap-sm-9: 13.9px;
  --gap-8xl: 27px;
  --gap-26xl: 45px;
  --gap-31xl: 50px;
  --gap-base-3: 15.3px;
  --gap-7xs-6: 5.6px;
  --gap-10xs-8: 2.8px;
  --gap-3xl-3: 22.3px;
  --gap-6xs-3: 6.3px;
  --gap-6xs-5: 6.5px;
  --gap-8xs-1: 4.1px;
  --gap-6xs-4: 6.4px;

  /* Paddings */
  --padding-61xl: 80px;
  --padding-33xl: 52px;
  --padding-191xl: 210px;
  --padding-15xl: 34px;
  --padding-86xl: 105px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-xl: 20px;
  --padding-45xl: 64px;
  --padding-69xl: 88px;
  --padding-23xl: 42px;
  --padding-mini: 15px;
  --padding-54xl: 73px;
  --padding-xs: 12px;
  --padding-9xs: 4px;
  --padding-xs-5: 11.5px;
  --padding-smi-5: 12.5px;
  --padding-77xl: 96px;
  --padding-43xl: 62px;
  --padding-415xl: 434px;
  --padding-8xl: 27px;
  --padding-21xl: 40px;
  --padding-46xl: 65px;
  --padding-base: 16px;
  --padding-18xl: 37px;
  --padding-38xl: 57px;
  --padding-25xl: 44px;
  --padding-3xl: 22px;
  --padding-5xl: 24px;
  --padding-4xl: 23px;
  --padding-base-5: 15.5px;
  --padding-6xl: 25px;
  --padding-7xs-5: 5.5px;
  --padding-9xl: 28px;
  --padding-lgi-5: 19.5px;
  --padding-4xs: 9px;
  --padding-mid: 17px;
  --padding-10xs: 3px;
  --padding-5xl-5: 24.5px;
  --padding-12xl: 31px;
  --padding-13xl: 32px;
  --padding-2xl: 21px;
  --padding-sm: 14px;
  --padding-smi: 13px;
  --padding-29xl: 48px;
  --padding-mini-5: 14.5px;
  --padding-52xl: 71px;
  --padding-27xl: 46px;
  --padding-6xs: 7px;
  --padding-2xs: 11px;
  --padding-lgi: 19px;
  --padding-4xs-5: 8.5px;
  --padding-3xs-5: 9.5px;
  --padding-11xs: 2px;
  --padding-65xl: 84px;
  --padding-36xl: 55px;
  --padding-base-2: 15.2px;
  --padding-37xl: 56px;
  --padding-79xl: 98px;
  --padding-51xl: 70px;
  --padding-75xl: 94px;
  --padding-26xl: 45px;
  --padding-8xl-6: 27.6px;
  --padding-8xs-3: 4.3px;
  --padding-8xs-1: 4.1px;
  --padding-8xs-2: 4.2px;
  --padding-9xs-5: 3.5px;
  --padding-42xl-7: 61.7px;
  --padding-8xl-4: 27.4px;
  --padding-35xl: 54px;
  --padding-67xl: 86px;
  --padding-22xl: 41px;
  --padding-16xl: 35px;
  --padding-10xl: 29px;
  --padding-lg: 18px;
  --padding-11xl: 30px;
  --padding-7xl: 26px;
  --padding-24xl: 43px;
  --padding-20xl: 39px;
  --padding-149xl: 168px;
  --padding-28xl: 47px;
  --padding-60xl: 79px;
  --padding-8xs: 5px;
  --padding-44xl: 63px;
  --padding-845xl: 864px;
  --padding-197xl: 216px;
  --padding-413xl: 432px;
  --padding-11xs-5: 1.5px;
  --padding-12xs: 1px;
  --padding-441xl-5: 460.5px;
  --padding-175xl: 194px;
  --padding-280xl: 299px;
  --padding-145xl-4: 164.4px;
  --padding-base-1: 16.1px;
  --padding-17xl: 36px;
  --padding-817xl: 836px;
  --padding-190xl: 209px;
  --padding-399xl: 418px;
  --padding-47xl: 66px;
  --padding-10xs-1: 2.1px;
  --padding-3xs-9: 9.9px;
  --padding-12xs-5: 0.5px;
  --padding-4xs-6: 8.6px;
  --padding-4xs-2: 8.2px;
  --padding-4xs-4: 8.4px;
  --padding-8xs-5: 4.5px;
  --padding-9xs-7: 3.7px;
  --padding-8xs-7: 4.7px;
  --padding-9xs-6: 3.6px;
  --padding-12xs-6: 0.6px;
  --padding-12xs-7: 0.7px;
  --padding-14xl: 33px;
  --padding-12xs-1: 0.1px;
  --padding-4xs-3: 8.3px;
  --padding-2xs-1: 10.1px;
  --padding-19xl: 38px;
  --padding-5xs-8: 7.8px;
  --padding-6xs-5: 6.5px;
  --padding-71xl: 90px;
  --padding-sm-7: 13.7px;
  --padding-28xl-2: 47.2px;
  --padding-12xs-8: 0.8px;
  --padding-smi-8: 12.8px;
  --padding-2xs-4: 10.4px;
  --padding-xl-6: 20.6px;
  --padding-9xs-1: 3.1px;
  --padding-8xs-6: 4.6px;
  --padding-xl-1: 20.1px;
  --padding-9xs-3: 3.3px;
  --padding-9xs-2: 3.2px;
  --padding-144xl-6: 163.6px;
  --padding-xl-4: 20.4px;
  --padding-10xs-6: 2.6px;
  --padding-smi-6: 12.6px;
  --padding-31xl: 50px;
  --padding-5xs-9: 7.9px;
  --padding-7xs-6: 5.6px;
  --padding-130xl: 149px;
  --padding-11xs-3: 1.3px;
  --padding-6xs-8: 6.8px;
  --padding-5xs-3: 7.3px;
  --padding-12xs-3: 0.3px;
  --padding-12xs-4: 0.4px;
  --padding-10xs-7: 2.7px;
  --padding-7xs-4: 5.4px;
  --padding-66xl: 85px;
  --padding-123xl: 142px;
  --padding-265xl: 284px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-3xl-5: 22.5px;
  --br-9xs: 4px;
  --br-5xl: 24px;
  --br-8xs: 5px;
  --br-13xl: 32px;
  --br-base: 16px;
  --br-81xl: 100px;
  --br-3xs: 10px;
  --br-xs: 12px;
  --br-23xl: 42px;
  --br-3xl: 22px;
  --br-80xl: 99px;
  --br-base-5: 16.5px;
  --br-6xs-9: 6.9px;
  --br-8xs-1: 4.1px;
  --br-xl-6: 20.6px;
  --br-114xl-1: 133.1px;
  --br-lg-5: 18.5px;
  --br-8xl: 27px;
  --br-8xs-6: 4.6px;
  --br-16xl-3: 35.3px;
  --br-13xl-3: 32.3px;
  --br-mini-4: 14.4px;
  --br-mid-8: 17.8px;
  --br-70xl: 89px;
  --br-base-7: 15.7px;
  --br-smi-3: 12.3px;
  --br-7xs-1: 5.1px;
  --br-9xs-1: 3.1px;
  --br-base-3: 15.3px;
  --br-base-1: 16.1px;
  --br-30xl-9: 49.9px;
  --br-48xl: 67px;
  --br-46xl: 65px;
  --br-34xl-2: 53.2px;
  --br-lg-8: 18.8px;
  --br-6xs: 7px;
  --br-5xs-6: 7.6px;
  --br-9xs-4: 3.4px;
  --br-9xs-6: 3.6px;
  --br-lg-4: 18.4px;
  --br-6xs-5: 6.5px;
  --br-mid-5: 17.5px;
  --br-5xs-8: 7.8px;
  --br-4xs-3: 8.3px;
  --br-mid-2: 17.2px;
  --br-mini: 15px;
}
